.calltoaction{
    background-color:#495E57 ;
    display:grid;
    grid-template-columns:1fr 3fr ;
    padding: 3% 15% 3% 15%;
}

.calltoaction h1{
    color: #F4CE14;
}
.calltoaction h3{
    color:white;
}
.calltoaction p{
    color:white;
    font-size: 1rem;
    font-family: 'Karla', sans-serif;
}

.calltoaction .right-col{
    display:flex;
    justify-content:center;
    align-items:center;
}

.calltoaction .image-container{
    height:25rem;
    width:25rem;
    margin-top:10rem;
    overflow: hidden;
    position: absolute;
    border-radius: 10px;
}

.calltoaction img{
    height:auto;
    width:20rem;
    position:absolute;
}