
nav {
    background-color: '#333';
    padding: '10px';
    
}

.nav-wrapper{
    align-items: center;
    display:flex;
}

.nav-wrapper>img{
    height:5rem;
}

nav>div{
    display:flex;
    justify-content: space-between;
}

nav>div>ul{
    list-style-type: none;
    display: flex;
    justify-content: end;
    margin: 0;
    padding: 0;
}

nav>div>ul>li{
    margin: '0 10px';
    font-size:1.5rem;
    font-weight: 800;
}

nav>ul>li>Link {
    color: '#fff';
    text-decoration: 'none';
    font-size: '1.2rem';
}
  